li{
   list-style: none;
   color: white;
}

body{
    background: #111;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    transition: .2s all;
}
#notification-container{
   position: absolute;
   right: -320px;
   margin: 15px 10px 0 0;
   width: 300px; height: 60px;
   border-radius: 4px;
   transition: .5s all;
}
      #notification-text-container{
         position: absolute;
         left: 13px;
         padding: 0 0 0 15px;
         width: 87%; height: 99%;
         overflow: hidden;
      }
            #notification-text{
               position: relative;
               white-space: nowrap;
               text-overflow: ellipsis;
               top: -37px; left: 45px;
               font-family: "Asap", sans-serif;
               color: white;
               font-size: 18px;
            }
            #notification-icon{
               position: relative;
               top: 13px;
               filter: invert(100%);
               width: 35px; height: 35px;
               left: 5px;
            }
.card{
    cursor: pointer;
    box-shadow: 0 15px 10px -10px rgba(0,0,0,0.5);
    background: round top left;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.card:hover{
    box-shadow: 0 8px 8px rgba(0,0,0,0.25), 0 3px 3px rgba(0,0,0,0.22);
}
#result-row{
    position: absolute;
    top: -300px;
    left: 0;
    background: #222;
    width: 100%; height: 300px;
    padding: 0;
    margin-right: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    -webkit-box-shadow: inset 0px -15px 17px -6px rgba(0,0,0,0.35);
    -moz-box-shadow: inset 0px -15px 17px -6px rgba(0,0,0,0.35);
    box-shadow: inset 0px -15px 17px -6px rgba(0,0,0,0.35);
    transition: .2s all;
}
        #loader{
            position: fixed;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            border: 5px solid transparent;
            border-top: 5px solid #EF0000;
            animation: spin 1s linear infinite;
            transition: .5s all;
        }
        @keyframes spin {
            to{
                transform: rotate(360deg);
            }
        }

        .top-film-tile{
          position: relative;
          min-width: 150px;
          width: 10%;
          margin: 0px 1%;
          height: 250px;
          background: round top left ;
          transition: .2s all;
        }
        .overlay{
          position: absolute;
          display: flex;
          justify-content: space-between;
          flex-direction: column;
          top: 0; left: 0;
          width: 100%; height: 100%;
          text-align: center;
          opacity: 0;
          color: #eee;
          font-family: "Josefin Sans", sans-serif;
          font-size: 1.4em;
          background: rgba(0,0,0,0.8);
          transition: .2s all;
          z-index: 999;
        }
                .overlay-title{
                    font-family: "Roboto", sans-serif;
                    font-weight: bold;
                    margin: 15px 0;
                }
                .add-button{
                    color: rgba(255,255,255,0.9);
                    font-size: 68px !important;
                    position: relative;
                    top: -10px;
                    transform: scale(1);
                    transition: .2s all;
                }
                .fa-spinner{
                    animation: spin 1s linear infinite;
                }
                .caption-container{
                    opacity: 1;
                    margin-bottom: 10px;
                }
                        .overlay-director, .overlay-year{
                          display: inline-block;
                        }
            /*.overlay-description{
              font-size: 14px;
              font-family: sans-serif;
            }*/
        .overlay:hover{
          opacity: 1;
          transition: .2s all;
       }
header{
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%; height: 10%;
    padding: 10px;
    margin-bottom: 25px;
    cursor: default;
}
         #sortby-container{
            position: absolute;
            display: inline;
            left: 0;
            margin: 10px 0 0 30px;
            color: rgba(255, 255, 255, 0.5);
            font-family: sans-serif;
         }
               #dropdown-container{
                  position: relative;
                  top: 0;
                  left: 65px;
                  overflow: hidden;
                  transition: .3s all;
               }
               .dropdown-toggle{
                  opacity: 1 !important;
                  transform: translateY(-10px) !important;
                  transition: .3s all;
               }
                     ul{
                        position: relative;
                        opacity: 0;
                        transform: translateY(-80px);
                        border-left: 1px solid rgba(255,255,255,0.5);
                        transition: .5s all;
                     }
               #sortby{
                  display: inline;
                  cursor: pointer;
               }
               #sortby-type{
                  display: inline;
                  font-weight: bold;
                  cursor: pointer;
               }
                     #sortby-dropdown{
                        width: 95px;
                     }
                           .sortby-dropdown-item{
                              position: relative;
                              left: -30px;
                              color: rgba(255, 255, 255, 0.7);
                              cursor: pointer;
                              transition: .15s all;
                           }
                           /*.sortby-dropdown-item:hover{
                              opacity: 0.7;
                           }*/
                           .sortby-dropdown-item::before{
                              content: '';
                              display: block;
                              position: absolute;
                              background: rgba(255, 255, 255, 1);
                              left: 0;
                              top: 0;
                              width:0%;
                              height: 100%;
                              margin: 0;
                              padding: 0;
                              transition: .5s all;
                              z-index: -1;
                           }
                           .sortby-dropdown-item.active::before{
                              width:100%;
                           }
               #arrow-container{
                  display: inline-block;
                  width: 20px;
                  height: 20px;
                  position: relative;
                  top: 5px;
                  left: -5px;
                  padding: 0 0 0 10px;
                  cursor: pointer;
                }
                     .arrow-leg{
                        display: inline-block;
                        position: relative;
                        top: -10px;
                        width: 10px;
                        height: 0;
                        border-top: 1px solid rgba(255,255,255,0.5);
                        transition: .3s all;
                     }
                     #left-arrow-leg{
                        position: relative;
                        transform: rotate(45deg);
                        left: 3px;
                     }
                     #right-arrow-leg{
                        transform: rotate(-45deg);
                     }
                     .arrow-toggle{
                        left: 0 !important;
                        transform: rotate(0) !important;
                     }
        #search-container{
            position: relative;
            top: 25px;
        }
            #search-field{
                position: relative;
                background: none;
                border: none;
                border-bottom: 1px solid rgba(150,0,0,0.5);
                padding-bottom: 5px;
                color: rgba(255, 255, 255, 0.5);
                font-family: "Roboto", sans-serif;
                font-size: 1.5em;
                z-index: 999;
            }
            #search-field-label{
                position: relative;
                top: -45px;
            	margin-left: 5px;
                color: rgba(255, 255, 255, 0.5);
                font-family: "Open Sans", sans-serif;
                font-size: 1em;
                z-index: 99;
                transition: .2s all;
            }
            .expand::before, .expand::after{
            	width: 50% !important;
            }
            #search-field:focus ~ #search-field-bar::before, #search-field:focus ~ #search-field-bar::after{
            	width: 50%;
            }
            #search-field:focus ~ #search-field-label{
                top: -70px;
            	margin-left: 0px;
                font-size: 0.7em;
            	transition: .2s all;
            }
            .search-field-filled{
                top: -70px !important;
                margin-left: 0 !important;
                font-size: 0.7em !important;
            }
            .bar{
                position: relative;
                width: 100%;
                display: block;
                margin: 0 0 15px 0;
            }
            .bar::before, .bar::after{
                content: '';
                height: 3px;
                width:0;
                bottom: -1px;
                position: absolute;
                background-color: rgba(150,0,0,0.7);
                transition: .2s all ease;
            }
            .bar::before{
                left: 50%;
            }
            .bar::after{
                right: 50%;
            }
            #search-button{
                position: absolute;
                display: inline;
                background-color: rgba(150,0,0,0.7);
                font-family: "Roboto", sans-serif;
                border-radius: 4px;
                right: 0; top: -5px;
                padding: 0 6px;
                color: rgba(255,255,255,0.7);
                font-size: 16px;
                cursor: pointer;
                transition: .2s all;
                overflow: hidden;
                z-index: 999;
            }
                    #search-button-bubble{
                        display: block;
                        position: absolute;
                        margin: auto;
                        width: 125px; height: 125px;
                        border-radius: 50%;
                        top: -50px; right: -13px;
                        transform: scale(0);
                        opacity: 0;
                        background-color: rgba(150,40,40,1);
                        transition: .4s all;
                        z-index: 99;
                    }
                    #search-button-label{
                        position: relative;
                        margin: 0;
                        padding: 5px 5px;
                        background-color: rgba(150,0,0,1);
                    }
                            #search-button-label-text{
                                position: relative;
                                z-index: 999;
                            }
#main-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}
        .film-container{
            position: relative;
            display: flex;
            justify-content: center;
            flex-direction: column;
            background: round top left;
            border-radius: 4px;
            transform: scale(1);
            width: 12vw; height: 400px;
            min-width: 250px;
            padding: 5px 15px;
            margin: 2vh 0;
            text-align: center;
            overflow: hidden;
            transition: .3s all;
        }
        .film-container:hover .film-title{
            transform: translateY(100px);
            opacity: 1;
            transition: .5s all;
        }
        .film-container:hover .caption-container{
            transform: translateY(-100px);
            opacity: 1;
            transition: .5s all;
        }
            .badge{
                position: absolute;
                width: 10px; height: 10px;
                top: 5px; right: 15px;

            }
            .film-title{
                font-family: "Roboto", sans-serif;
                font-weight: 600;
                font-size: 1.7em;
                margin: 15px 0;
                opacity: 0;
                transform: translateY(0);
                transition: .5s all;
            }
            .film-poster{
                position: relative;
                margin: auto;
                width: 80%;
            }
            .film-year{
               position: relative;
               top: 50px;
            }
            .caption-container{
                width: 100%;
                transform: translateY(0);
                transition: .5s all;
            }
                    .caption-container p{
                        display: inline;
                    }
            .action-overlay{
                position: absolute;
                width: 100%; height: 100%;
                top: 0; left: 0;
                transform: scale(1);
                background: round top left ;

                opacity: 1;
                z-index: 99;
                transition: .2s all;
            }
            .action-button-container{
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%; height: 100%;
                top: 0; left: 0;
                opacity: 0;
                transform: scale(0.3);
                z-index: 999;
                transition: .2s all;
            }
                    .action-button{
                        position: relative;
                        font-size: 5em !important;
                        transform: scale(1) !important;
                        margin: 0 10px;
                        color: white;
                        transition: .2s all;
                        z-index: 999;
                        transition: .2s all;
                    }
                    .action-button:hover{
                        transform: scale(1.1);
                        transition: .2s all;
                    }
                    .fa-check-circle:hover{
                        color: rgba(0, 255, 0, 0.7);
                    }
                    .fa-times-circle:hover{
                        color: rgba(255, 0, 0, 0.7);
                    }
.viewed{
    color: rgba(0, 255, 0, 0.7);
}

/* ------------------------------ */
/* --- MAKE ANIMATION SHORTER --- */
/* ------------------------------ */

.card-remove{
/*   height: 0;
   padding: 0;
   transition: all .6s cubic-bezier(0.23, 1, 0.32, 1);*/
   padding: 0;
animation: blipout .3s linear forwards;
}
@keyframes blipout {
   0%{
      transform: scale(1);
   }
   30%{
      transform: scale(0.2);
      height: 1px;
   }
   90%{
      transform: scale(1);
   }
   100%{
      height: 1px;
      transform: scale(0);
   }
}
.summon{
    transform: scale(1.2) !important;
    opacity: 1 !important;
    transition: .4s all;
}
.summon-buttons{
    transform: scale(1.1) !important;
    opacity: 1 !important;
    transition: .4s all;
}
.blur{
    filter: blur(5px);
}
.dispel{
    transform: scale(1.6) !important;
    opacity: 0 !important;
    z-index: 98;
    transition: .2s all;
}
.uncloak{
    opacity: 1 !important;
}
.bubble{
    animation: bubble .7s forwards cubic-bezier(0.0, 0.0, 0.2, 1);
}
@keyframes bubble {
    0%{
        transform: scale(0);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        transform: scale(1.1);
        opacity: 0;
    }
}

/*

#welcome-text{
   position: relative;
   color: white;
   z-index: 999;
   padding: 5px 20px;
}
#welcome-text::before{
   content: '';
   display: block;
   position: absolute;
   background: white;
   left: 0;
   top: 0;
   width:0%;
   height: 100%;
   margin: 0;
   padding: 0;
   transition: .5s all;
   z-index: -1;
}
#welcome-text.active::before{
   width:100%;
}


$('#welcome-button').hover(function () {
   $('#welcome-text').addClass('active').css("color", "black");
}, function () {
   $('#welcome-text').removeClass('active').css("color", "white");
});

*/
