  <%
   if(isEmpty){
      %><li>[+] AJOUTER UN FILM</li> <%
      console.log("isEmpty === check")
   }else {
      for (var i = 0; i < data.length; i++) {
        if(data[i].is_deleted === 0){ %>
          <div class="film-container card <% if (data[i].is_viewed) { %>viewed<% }else{ %>not-viewed<% } %>">
             <div class="overlay">
                <p class="film-title"><%= data[i].title %></p>
                <div class="caption-container">
                   <p class="film-year"><%= data[i].year %></p>
                </div>
                <% if (data[i].is_viewed){ %>
                  <i class="fa fa-check-circle badge viewed"></i>
                <% }else{ %>
                  <i class="fa fa-check-circle-o badge"></i>
                <% } %>
                <div class="action-button-container">
                  <% if (data[i].is_viewed){ %>
                    <i class="fa fa-check-circle action-button viewed"></i>
                  <% }else{ %>
                    <i class="fa fa-check-circle action-button"></i>
                  <% } %>
                   <i class="fa fa-times-circle action-button"></i>
                </div>
             </div>
             <div class="action-overlay" style="background-image: url('<%= data[i].poster %>')">
             </div>
          </div>
          <%
        }
      }
   }
%>
