<!DOCTYPE html>
<html>
  <head>
    <title>Kinodex</title>
    <link rel='stylesheet' href='/stylesheets/front.css' />
    <link rel='stylesheet' href='/stylesheets/font-awesome.min.css' />
    <link href="https://fonts.googleapis.com/css?family=Asap" rel="stylesheet">
  </head>
  <body>
     <div id="notification-container">
        <div id="notification-text-container">
          <img src="" title="notification-icon" id="notification-icon">
          <p id="notification-text"></p>
        </div>
     </div>
    <div id="result-row">

    </div>
     <header>
       <div id="sortby-container">
         <p id="sortby">Sort by : <span id="sortby-type">All</span></p>
         <div id="arrow-container">
           <span class="arrow-leg" id="left-arrow-leg"></span><span class="arrow-leg" id="right-arrow-leg"></span>
         </div>
         <div id="dropdown-container">
           <ul id="sortby-dropdown">
              <li class="sortby-dropdown-item">All
              <li class="sortby-dropdown-item">Viewed
              <li class="sortby-dropdown-item">Not viewed
           </ul>
         </div>
       </div>
        <div id="search-container">
         <input type="text" name="search" value="" id="search-field">
         <span class="bar" id="search-field-bar"></span>
         <label id="search-field-label">Find movies</label>

         <div id="search-button">
            <div id="search-button-bubble"></div>
            <p id="search-button-label"><span id="search-button-label-text">Search</span></p>
         </div>
        </div>
     </header>
     <section id="main-container">
       <% include film_list.ejs %>
     </section>
    <script src="/javascripts/jquery-3.2.0.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/imdb.js"></script>
    <script src="/javascripts/animations.js"></script>
    <script src="/javascripts/main.js"></script>
  </body>
</html>
